
/*FORMULARIO*/
#section-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	letter-spacing: 2px;
	padding: 0 15px;
	max-width: 100%;
}

/*
#section-form .form-content h3 {
    color: #fff;
    flex-basis: 30%;
    text-align: left;
    margin: 0;
	font-size: 35px;
}
*/

#section-form .form-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section-form .form-container {
    flex-basis: 50%;
    position: relative;
}

#section-form .form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
    text-align: left;
}

#section-form .form-container form label {
	margin-top: 10px;
	font-size: 15px;
}

#section-form .form-container form input {
	background-color: #bee911;
	height: 40px;
	padding: 5px;
	font-size: 15px;
}

#section-form .form-container form textarea {
	background-color: #bee911;
	padding: 5px;
	font-size: 15px;
}

.form-container button {
	font-family: "Raleway", sans-serif;
	font-weight: bolder;
	color:#fff;
	font-size: 20px;
	border: 2px solid #fff;
	border-radius: 50px;
	text-transform: capitalize;
	padding: 10px 20px;
	transition: 0.2s;
	margin: auto;
	margin-top: 20px;
}

.form-container button:hover {
    background-color: #FE9E00;
	color: #CA2A02;
}