html {
    color: #fff;
    /*scroll-behavior: smooth;*/
}

body {
    /*    background-color: #fff;*/
    font-family: "Poppins", sans-serif;
    margin: 0;
    overflow: hidden;
}

/*.dicas {
    height: 100%;
    width: 100%;
}*/

.info .container-servicos {
    justify-content: center;
    margin: 0;
    height: 100%;
    width: 100%;
}

.info .servico-main {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
}

.info .servico {
    display: flex;
    width: 1000px;
    height: 100%;
    position: relative;
    gap: 10px;
    margin: 0;
    padding: 15px;
}

.info .servico .informacoes-servico {
    background-color: rgb(21, 60, 93);
    box-shadow: 0 0 10px #fff;
    width: 100%;
    height: 260px;
    padding: 20px;
    margin: auto;
}

.info .servico img {
    box-shadow: 0 0 10px #fff;
    min-width: 260px;
    height: 260px;
    margin: auto;
}

.info .servico h3 {
    background-color: rgb(21, 60, 93);
    font-size: 14px;
    width: 260px;
    padding: 1px 0px 1px 5px;
    position: absolute;
    top: 15px;
    /*    left: 26px;*/
}

.info .servico p {
    font-size: 15px;
}

.info .servico .informacoes-servico .link-agendamento {
    display: none;
    font-size: 14px;
    text-decoration: underline;
    position: absolute;
    bottom: 5px;
}

/*.info .servico .informacoes-servico .link-agendamento:hover {
    color: #df8b04;
}

.info .btn-mostrar-servicos,
.info .btn-ocultar-servicos {
    background: none;
    border: 1px solid #fff;
    box-shadow: 0 0 10px #fff;
    border-radius: 15px;
    color: #fff;
    width: 180px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.info .btn-mostrar-servicos:hover,
.btn-ocultar-servicos:hover {
    background-color: #df8b04;
    color: #ca2a02;
    font-weight: bolder;
}

.info .btn-mostrar-servicos.remover,
.btn-ocultar-servicos.remover {
    display: none;
}*/