@media(max-width: 1280px) {
    .cabecalho {
        padding: 30px;
    }

    .home {
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
        gap: 30px;
    }

    .home .informacoes {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .projetos .container-projetos {
        padding: 0 30px;
    }
}

@media(max-width: 426px) {
    .home .informacoes h1 {
        font-size: 30px;
    }

    .home .informacoes p {
        font-size: 16px;
    }

    .cabecalho .logo {
        width: 120px;
        height: 110px;
    }

    .footer .logo {
        width: 70px;
        height: 50px;
    }

    .home .container-foto img {
        max-width: 320px;
    }

    .home .redes-sociais {
        margin-top: 75px;
        flex-direction: column;
        gap: 10px;
    }

    .projetos {
        padding: 30px;
    }
}

@media(max-width: 321px) {
    .cabecalho .logo {
        width: 100px;
        height: 90px;
    }

    .cabecalho .menu li a {
        font-size: 15px;
    }
}
