@media(max-width: 1280px) {
    .main {
        padding: 0;
    }

    .cabecalho {
        padding: 30px;
    }

    .home {
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
        gap: 30px;
    }

    .home .informacoes {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .home .agendamento-ul {
        justify-content: space-around;
        gap: 10px;
    }

    .servicos-dicas .container-servicos .servico.ativo {
        width: 90%;
    }

    .whatsapp-flutuante {
        width: 50px;
        height: 50px;
        bottom: 10px;
        right: 30px;
    }

    .media iframe {
        height: 50vh;
    }
}


@media(max-width: 768px) {
    .dicas .link-dicas {
        gap: 10px;
        padding: 0;
    }

    .servicos-dicas .container-servicos .servico.ativo {
        width: 95vw;
        margin-top: 10px;
    }

    .servicos-dicas .container-servicos .informacoes-servico {
        padding: 10px;
        height: 250px;
    }

    .servicos-dicas .container-servicos .servico img {
        min-width: 200px;
        max-height: 200px;
    }

    .servicos-dicas .container-servicos .servico h3 {
        min-width: 200px;
    }
}


@media(max-width: 425px) {
    .home .informacoes h1 {
        font-size: 30px;
    }

    .home .informacoes p {
        font-size: 18px;
    }

    .home .informacoes div#endereço {
        background-color: rgba(21, 60, 93, 0.8);
        width: 200px;
        position: fixed;
        bottom: 10px;
        left: 30px;
        font-size: 15px;
        z-index: 3;
    }

    .cabecalho .logo {
        width: 120px;
        height: 110px;
    }

    .cabecalho button #seta {
        right: 7%;
    }

    .footer .logo {
        width: 70px;
        height: 50px;
    }

    .home .container-foto .foto-video {
        max-width: 300px;
    }

    .home .container-foto .foto-video video {
        width: 300px;
    }

    .home .agendamento-ul {
        flex-direction: column;
        gap: 10px;
    }

    .home .painel-lateral {
        flex-direction: column;
        top: -600px;
        width: 400px;
        height: 600px;
    }

    .home .painel-lateral.ativo {
        transform: translateY(625px);
    }

    .player-container li {
        padding-left: 2px;
    }

    .player-container li.active {
        max-width: 100%;
    }

    .overlay {
        box-sizing: border-box;
        width: 95%;
        margin: 15px 10px 0 10px;
    }

    .popup form .botoes {
        gap: 130px;
    }

    .carousel-container {
        width: 95%;
    }

    .carousel-slide img {
        height: 50%;
    }

    .thumb {
        width: 50px;
        height: 50px;
    }

    .dicas {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .dicas-main {
        display: flex;
    }

    .dicas .link-dicas {
        display: none;
    }

    .dicas .navbar {
        display: flex;
        width: 110px;
        box-shadow: 0 0 10px #fff;
    }

    .submenu {
        left: 120px;
    }

    .servicos-dicas .container-servicos {
        display: flex;
        position: relative;
        margin: auto;
        width: 65%;
        height: 100%;
    }

    .servicos-dicas .container-servicos .servico {
        background-color: #fff;
        box-shadow: 0 0 10px #fff;
        flex-direction: column;
    }

    .servicos-dicas .container-servicos .servico h3,
    h2 {
        width: 100%;
        font-size: 16px;
        font-weight: normal;
    }

    .servicos-dicas .container-servicos .servico img {
        min-width: 200px;
        min-height: 200px;
        margin: auto;
    }

    .servicos-dicas .container-servicos .informacoes-servico {
        font-weight: normal;
        font-size: 16px;
        padding: 5px;
        height: 100%;
    }

    .link-agendamento {
        position: relative;
        top: 5px;
    }

    .media iframe {
        width: 95vw;
        height: 200px;
    }

}

@media(max-width: 320px) {
    .cabecalho .logo {
        width: 100px;
        height: 90px;
    }

    .cabecalho .menu li a {
        font-size: 15px;
    }

    .overlay {
        margin: 15px 8px 0 8px;
    }

    .popup form .botoes {
        gap: 100px;
    }

    .thumb {
        width: 45px;
        height: 45px;
    }
}