@media(max-width: 1280px) {

    .main {
        padding: 0;
    }

    .cabecalho {
        padding: 30px;
    }

    .home {
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
        gap: 30px;
    }

    .home .informacoes {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .servicos .container-servicos {
        padding: 0 30px;
    }

    .servicos h3 {
        font-size: 14px;
    }

    .overlay {
        width: 95%;
    }
}

@media(max-width: 426px) {
    .home .informacoes h1 {
        font-size: 30px;
    }

    .home .informacoes p {
        font-size: 18px;
    }

    .cabecalho .logo {
        width: 120px;
        height: 110px;
    }

    .footer .logo {
        width: 70px;
        height: 50px;
    }

    .home .container-foto .foto-video {
        max-width: 300px;
    }

    .home .container-foto .foto-video video {
        width: 300px;
    }

    .home .agendamento-ul {
        flex-direction: column;
        gap: 10px;
    }

    .painel-lateral {
        top: 60px;
    }

    .player-container li {
        padding-left: 2px;
    }

    .player-container li.active {
        max-width: 100%;
    }

    .servicos {
        padding: 30px;
    }

    .servicos h3 {
        font-size: 12;
    }
}

@media(max-width: 321px) {
    .cabecalho .logo {
        width: 100px;
        height: 90px;
    }

    .cabecalho .menu li a {
        font-size: 15px;
    }

    .painel-lateral {
        top: 55px;
    }

    .painel-lateral.ativo {
        transform: translateX(-280px);
    }

    .servicos .servico p {
        font-size: 12px;
    }
}